APScheduler==3.7.0
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
coverage==5.5
dateparser==1.0.0
fastapi==0.63.0
h11==0.12.0
idna==2.10
iniconfig==1.1.1
jsonpickle==2.0.0
loguru==0.5.3
loguru-logging-intercept==0.1.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pydantic==1.8.1
pyparsing==2.4.7
pytest==6.2.3
pytest-cov==2.11.1
python-dateutil==2.8.1
python-digitalocean==1.16.0
python-dotenv==0.17.0
pytz==2021.1
regex==2021.4.4
requests==2.25.1
six==1.15.0
starlette==0.13.6
toml==0.10.2
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.26.4
uuid==1.30
uvicorn==0.13.4
uvicorn-loguru-integration==0.2.0
