requests==2.32.2
apscheduler==3.10.4
dateparser==1.2.0
fastapi==0.110.0
loguru==0.7.2
python-dotenv==1.0.1
uvicorn==0.27.1
uvicorn-loguru-integration==0.3.1
python-digitalocean==1.17.0
boto3==1.34.69
urllib3==2.2.2
aiofiles==23.2.1
botocore==1.34.69
hcloud==2.3.0
google-api-python-client==2.122.0
anyio==3.7.1
starlette==0.36.3
pytest==8.0.2
pytest-cov==4.1.0
pytest-mock==3.12.0
httpx==0.27.0
azure-identity==1.15.0
azure-mgmt-compute==30.3.0
azure-mgmt-network==25.1.0
azure-mgmt-resource==23.0.1